@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2>cCc</h2>
    <h1>KRALLARA TAÇ GİYDİREN ÜNAL KAĞAN MUSLU</h1>
    <h2>cCc</h2>

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Deneme</p>

    <h2>cCc</h2>
    <h1>KRALLARA TAÇ GİYDİREN Enes</h1>
    <h2>cCc</h2>
</div>
